* {
	padding: 0;
    margin: 0;
}

path {
	cursor: pointer;
}

text {
	fill: darkslategray;
	font-size: 14px;
}

.container {
	width: 100% !important;
}

#map {
	background-color: #ddeeff;
	font: bold 12px Trebuchet MS;
	position: relative;
	width: 100%;
}

#header {
	display: table;
	margin-top: 10px;
	position: absolute;
	left: 0;
	top: 0;
}

#header .header-title {
	color: #303030;
	display: table-cell;
	vertical-align: middle;
	font-size: 26px;
	padding-left: 10px;
}

#header .flag {
	padding-left: 10px;
	height: 45px;
}

#header .back {
	cursor: pointer;
	height: 55px;
}

#footer {
	display: table;
	width: 100%;
}

#footer .inform {
	display: table;
	width: 1000px;
	margin: 0 auto;
}

#footer .footer-left, #footer .footer-right {
	display: table-cell;
	width: 50%;
}

#footer .footer-title {
	font-size: 16px;
	list-style-type: none;
	padding: 0 15px;
	text-transform: uppercase;
	overflow: hidden;
	height: 155px;
}

#footer .footer-title .left {
	float: left;
	text-transform: none;
}

#footer .footer-title .right {
	float: right;
}

#footer .title.full {
    overflow: auto;
    height: 100%;
}

#footer ul.footer-left .left {
    float: left;
    text-transform: none;
}

#footer ul.footer-right .right {
    float: right;
}

#footer li {
    border-bottom: 1px solid #d1d7dc;
    display: table;
    width: 100%;
}

#footer li .left, #footer li .right {
    display: table-cell;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.3;
    padding-top: 10px;
}

#footer li .left {
    color: #303030;
    font-weight: normal;
}

#footer li .right {
    color: #287fc3;
    font-weight: bold;
    text-align: right;
}

#footer .more {
    background-color: #3f95b9;
    color: #fff;
    cursor: pointer;
    display: table;
    font-size: 14px;
    font-weight: normal;
    margin: 15px auto;
    padding: 5px 40px;
    text-transform: uppercase;
}

.background {
	position: absolute;
	top: 0;
	stroke-opacity: 0;
	fill-opacity: 0;
}

.tooltip {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.8;
    position: absolute;
}

.region {
	fill: #d1d7dc;
	stroke: #60666b;
	opacity: .60;
}

.boundary {
	fill: none;
	stroke: #60666b;
	opacity: .60;
}

.district {
	display: none;
	fill: #d1d7dc;
	stroke: #60666b;
	opacity: .60;
}

.city path {
	display: none;
	fill: #3f92b9;
	opacity: .75;
	stroke: navy;
	stroke-width: 2;
}

.city path.federal {
	display: block;
	fill: green;
}

.city path.strategy {
	display: block;
	fill: red;
}

.region:hover, .region.active, .district:hover, .district.active {
	fill: #a1d568;
}

.city path:hover, .city path.active {
	fill: #fff;
}

.attribute div {
	float: left;
	line-height: 1.3;
	padding-top: 11px;
	text-transform: none;
}

.attribute .name {
	color: #303030;
	font-size: 14px;
    font-weight: normal;
	width: 45%;
}

.attribute .date {
    color: darkcyan;
	font-size: 13px;
	font-weight: normal;
	margin-top: 4px;
	text-align: center;
	width: 15%;
}

.attribute .value {
	color: #287fc3;
	font-size: 14px;
    font-weight: bold;
    text-align: right;
	width: 40%;
}

.glyphicon-arrow-up {
	color: green;
	font-size: 12px;
}

.glyphicon-arrow-down {
	color: red;
	font-size: 12px;
}

.verion_info {
	cursor: context-menu;
	font-size: 15px;
	opacity: .95;
	position: absolute;
    top: 15px;
    right: 20px;
}